@model Lot

@{
    ViewData["Title"] = "Tambah Lot";
}

@section Scripts
{
    <script >
		ClassicEditor.create(document.querySelector('#deskripsi_editor'))
            .then((editor) => {
                editor.model.document.on('change:data', () => {
                    document.querySelector('#deskripsi').value = editor.getData();
                });
            });
	</script>
}

<main class="flex flex-col gap-6 max-w-screen-xl mx-auto">
    <div class="bg-white py-6 px-8 rounded-lg text-2xl font-bold shadow-xl w-fit">
        <h1>Tambah Lot</h1>

        <!-- Breadcrumbs -->
        <div class="flex items-center gap-2 text-xs mt-2 font-medium text-slate-700">
            <span>PT RBB</span>
            <span>
                <i class="fa-solid fa-chevron-right"></i>
            </span>
            <a href="/" class="hover:underline underline-offset-2">Dashboard</a>
            <span>
                <i class="fa-solid fa-chevron-right"></i>
            </span>
            <a href="/lot" class="hover:underline underline-offset-2">Lots</a>
            <span>
                <i class="fa-solid fa-chevron-right"></i>
            </span>
            <span>Tambah</span>
        </div>
    </div>

    <!-- Content Grid -->
    <div class="grid gap-6 grid-cols-3">
        <div class="col-span-2 bg-white py-6 px-8 rounded-lg shadow-xl grid grid-cols-3 gap-6">
            <form
                asp-action="Create"
                class="flex flex-col gap-4 col-span-3">
                <!-- Berat -->
                <div class="flex flex-col gap-2">
                    <label asp-for="Berat" class="font-medium text-sm">Berat (Kg)</label>
                    <input
                        type="number"
                        asp-for="Berat"
                        id="berat"
                        class="border py-2 px-4 flex items-center rounded-md h-10 w-full"/>
                </div>
                <!-- Tanggal -->
                <div class="flex flex-col gap-2">
                    <label asp-for="Tanggal" class="font-medium text-sm">Tanggal Pengantaran</label>
                    <input
                        type="date"
                        asp-for="Tanggal"
                        id="tanggal"
                        class="border py-2 px-4 flex items-center rounded-md h-10 w-full"/>
                </div>
                <!-- Deskripsi -->
                <div class="flex flex-col gap-2">
                    <label asp-for="Deskripsi" class="font-medium text-sm">Deskripsi</label>
                    <div
                        id="deskripsi_editor"
                        class="border py-2 px-4 flex items-center rounded-md h-10 w-full">
                    </div>
                    <input type="hidden" value="" id="deskripsi" asp-for="Deskripsi"/>
                </div>

                <div class="mt-4">
                    <input
                        type="submit"
                        value="Tambahkan Lot"
                        class="font-semibold ml-auto text-sm h-10 grid place-items-center px-4 rounded-md bg-primary text-white cursor-pointer hover:bg-primary-dark transition-colors duration-75"/>
                </div>
            </form>
        </div>
    </div>
</main>


@* <h4>Lot</h4> *@
@* <hr/> *@
@* <div class="row"> *@
@*     <div class="col-md-4"> *@
@*         <form asp-action="Create"> *@
@*             <div asp-validation-summary="ModelOnly" class="text-danger"></div> *@
@*             <div class="form-group"> *@
@*                 <label asp-for="Berat" class="control-label"></label> *@
@*                 <input asp-for="Berat" class="form-control"/> *@
@*                 <span asp-validation-for="Berat" class="text-danger"></span> *@
@*             </div> *@
@*             <div class="form-group"> *@
@*                 <label asp-for="Deskripsi" class="control-label"></label> *@
@*                 <input asp-for="Deskripsi" class="form-control"/> *@
@*                 <span asp-validation-for="Deskripsi" class="text-danger"></span> *@
@*             </div> *@
@*             <div class="form-group form-check"> *@
@*                 <label class="form-check-label"> *@
@*                     <input class="form-check-input" asp-for="StatusSortir"/> @Html.DisplayNameFor(model => model.StatusSortir) *@
@*                 </label> *@
@*             </div> *@
@*             <div class="form-group"> *@
@*                 <label asp-for="IdInventaris" class="control-label"></label> *@
@*                 <input asp-for="IdInventaris" class="form-control"/> *@
@*                 <span asp-validation-for="IdInventaris" class="text-danger"></span> *@
@*             </div> *@
@*             <div class="form-group"> *@
@*                 <label asp-for="IdAgen" class="control-label"></label> *@
@*                 <input asp-for="IdAgen" class="form-control"/> *@
@*                 <span asp-validation-for="IdAgen" class="text-danger"></span> *@
@*             </div> *@
@*             <div class="form-group"> *@
@*                 <input type="submit" value="Create" class="btn btn-primary"/> *@
@*             </div> *@
@*         </form> *@
@*     </div> *@
@* </div> *@
@* *@
@* <div> *@
@*     <a asp-action="Index">Back to List</a> *@
@* </div> *@