@model Lot

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Lot</h4>
    <hr/>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Berat)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Berat)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Deskripsi)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Deskripsi)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StatusSortir)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StatusSortir)
        </dd>

    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id"/>
        <input type="submit" value="Delete" class="btn btn-danger"/> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>