@model Lot

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Lot</h4>
    <hr/>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Berat)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Berat)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Deskripsi)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Deskripsi)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StatusSortir)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StatusSortir)
        </dd>

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>