@model Lot

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Lot</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id"/>
            <div class="form-group">
                <label asp-for="Berat" class="control-label"></label>
                <input asp-for="Berat" class="form-control"/>
                <span asp-validation-for="Berat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Deskripsi" class="control-label"></label>
                <input asp-for="Deskripsi" class="form-control"/>
                <span asp-validation-for="Deskripsi" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="StatusSortir"/> @Html.DisplayNameFor(model => model.StatusSortir)
                </label>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>