@model IEnumerable<Lot>

@{
    ViewData["Title"] = "Lot";
}

@section Scripts
{
}

<main class="flex flex-col gap-6 max-w-screen-xl mx-auto">
    <div class="bg-white py-6 px-8 rounded-lg text-2xl font-bold shadow-xl w-fit">
        <h1>Lots</h1>

        <!-- Breadcrumbs -->
        <div class="flex items-center gap-2 text-xs mt-2 font-medium text-slate-700">
            <span>PT RBB</span>
            <span>
                <i class="fa-solid fa-chevron-right"></i>
            </span>
            <a asp-controller="Home" asp-action="Index" class="hover:underline underline-offset-2">Dashboard</a>
            <span>
                <i class="fa-solid fa-chevron-right"></i>
            </span>
            <span>Lots</span>
        </div>
    </div>

    <div class="grid grid-cols-2 gap-6">
        <!-- Card Transaksi -->
        <div class="bg-white rounded-lg shadow-lg">
            <div class="py-4 px-8 border-b border-slate-200 bg-primary bg-opacity-10">
                <h2 class="font-semibold">Total Lot Bulanan</h2>
            </div>
            <div class="py-4 px-8">
                <canvas id="myChart_lot" width="0" height="300"></canvas>
            </div>
        </div>
        <!-- Card Berat -->
        <div class="bg-white rounded-lg shadow-lg">
            <div class="py-4 px-8 border-b border-slate-200 bg-primary bg-opacity-10">
                <h2 class="font-semibold">Jumlah Berat</h2>
            </div>
            <div class="py-4 px-8">
                <canvas id="myChart_berat" width="0" height="300"></canvas>
            </div>
        </div>
    </div>

    <!-- Table -->
    <div class="bg-white rounded-lg shadow-lg">
        <div class="py-4 px-8 border-b border-slate-200 bg-primary bg-opacity-10">
            <div class="flex items-center justify-between">
                <h2 class="font-semibold">Daftar Lot</h2>
                <a asp-action="Create" class="bg-primary px-4 py-2 rounded font-semibold text-white shadow hover:brightness-90 transition-all duration-150">
                    Tambah Lot
                </a>
            </div>
        </div>
        <div class="py-4 px-8">
            <table class="w-full datatable">
                <thead>
                <tr>
                    <th class="text-left">No</th>
                    <th class="text-left">
                        @Html.DisplayNameFor(model => model.Agen)
                    </th>
                    <th class="text-left">
                        @Html.DisplayNameFor(model => model.Berat)
                    </th>
                    <th class="text-left">
                        @Html.DisplayNameFor(model => model.Deskripsi)
                    </th>
                    <th class="text-left">
                        @Html.DisplayNameFor(model => model.Tanggal)
                    </th>
                    <th class="text-left">
                        Status Sortir
                    </th>
                    <th>
                        Aksi
                    </th>
                </tr>
                </thead>
                <tbody>
                @{
                    var i = 0;
                }
                @foreach (var lot in Model)
                {
                    i++;
                    <tr>
                        <td>
                            @i
                        </td>
                        <td>
                            @if (lot.Agen != null)
                            {
                                @lot.Agen?.Nama_lengkap
                            }
                            else
                            {
                                <div>
                                    -
                                </div>
                            }
                        </td>
                        <td>
                            @lot.Berat
                        </td>
                        <td>
                            @Html.Raw(lot.Deskripsi)
                        </td>
                        <td>
                            @lot.Tanggal.Date.ToString("dd MMMM yyyy")
                        </td>
                        <td>
                            @if (lot.StatusSortir)
                            {
                                <div class="text-green-500">
                                    Sudah Disortir
                                </div>
                            }
                            else
                            {
                                <div class="text-red-500">
                                    Belum Disortir
                                </div>
                            }
                        </td>
                        <td width="1">
                            <div class="flex gap-2">
                                <a asp-action="Details" asp-route-id="@lot.Id"
                                   class="px-4 py-2 rounded font-semibold text-white shadow bg-primary hover:brightness-90 transition-all duration-150">
                                    Detail
                                </a>
                                <a asp-action="Edit" asp-route-id="@lot.Id"
                                   class="px-4 py-2 rounded font-semibold text-white shadow bg-primary hover:brightness-90 transition-all duration-150">
                                    Edit
                                </a>
                                <a asp-action="Delete" asp-route-id="@lot.Id"
                                   onclick="return confirm('Apakah Anda yakin ingin menghapus data ini?')"
                                   class="px-4 py-2 rounded font-semibold text-white shadow bg-primary hover:brightness-90 transition-all duration-150">
                                    Hapus
                                </a>
                            </div>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</main>