﻿@using System.Security.Claims
@{
    ViewData["Title"] = "Home Page";
}

@section Scripts
{
    @if (TempData["Error"] != null)
    {
        <script>
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: '@TempData["Error"]',
            })
        </script>
    }
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <p>
        User is @User.FindFirstValue(ClaimTypes.NameIdentifier) and role is @User.FindFirstValue("Role").
        While having the ID : @User.FindFirstValue("Id")
    </p>
</div>