﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - PT RBB</title>

    <partial name="../Partial/_HeadData"/>
</head>
<body>

<div class="flex h-screen overflow-hidden" id="main-wrapper">
    <partial name="../Partial/_Sidebar"/>

    <div class="bg-white flex flex-col w-4 relative z-10">
        <div style="height: var(--header-height);"></div>
        <div class="grow"></div>
        <div style="height: var(--footer-height);"></div>
    </div>

    <div class="grow flex flex-col bg-white">
        <partial name="../Partial/_Header"/>

        <main class="px-6 py-12 grow overflow-y-auto bg-primary rounded-lg border border-slate-200 shadow-inner ">
            <div id="content-wrapper">
                @RenderBody()
            </div>
        </main>

        <partial name="../Partial/_Footer"/>
    </div>
</div>

@* <header> *@
@*     <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"> *@
@*         <div class="container-fluid"> *@
@*             <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">FrameworkEnterprise_ProjectUas_Kelompok4</a> *@
@*             <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent" *@
@*                     aria-expanded="false" aria-label="Toggle navigation"> *@
@*                 <span class="navbar-toggler-icon"></span> *@
@*             </button> *@
@*             <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between"> *@
@*                 <ul class="navbar-nav flex-grow-1"> *@
@*                     <li class="nav-item"> *@
@*                         <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a> *@
@*                     </li> *@
@*                     <li class="nav-item"> *@
@*                         <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a> *@
@*                     </li> *@
@*                     <li class="nav-item"> *@
@*                         <a class="nav-link text-dark" asp-area="" asp-controller="Auth" asp-action="LogOut">Log Out</a> *@
@*                     </li> *@
@*                 </ul> *@
@*             </div> *@
@*         </div> *@
@*     </nav> *@
@* </header> *@
@* <div class="container"> *@
@*     <main role="main" class="pb-3"> *@
@*         @RenderBody() *@
@*     </main> *@
@* </div> *@
@* *@
@* <footer class="border-top footer text-muted"> *@
@*     <div class="container"> *@
@*         &copy; 2023 - FrameworkEnterprise_ProjectUas_Kelompok4 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a> *@
@*     </div> *@
@* </footer> *@

<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", false)
<script >
    $(document).ready(function (){
        $(".datatable").DataTable();
    })
</script>
</body>
</html>