﻿@{
}

<footer
    class="flex items-center px-6  bg-gradient-to-r from-white to-gray-100 flex-shrink-0"
    style="height: var(--footer-height);">
    <div class="text-slate-700 text-sm font-medium flex gap-2">
        <span> Sistem Manajemen Ekspor PT RBB &copy; </span>
        <span>|</span>
        <span>Dikembangkan oleh Kelompok 4</span>
        <span>|</span>
        <span>2023</span>
    </div>
</footer>