﻿@using System.Security.Claims
@{
}

<header
    class=" bg-gradient-to-r from-white to-gray-100 flex-shrink-0 px-6 flex items-center justify-between relative z-10"
    style="height: var(--header-height);">
    <h1 class="text-xl font-bold">
        <span class="font-medium">Halo</span> @User.FindFirstValue("Nama_Lengkap")!
    </h1>

    <div class="text-sm font-medium text-slate-700">
        <span class="font-bold">
            @User.FindFirstValue("Role")
        </span> PT RBB
    </div>
</header>