﻿@using System.Security.Claims
@{
    var role = User.FindFirstValue("Role");
}

<aside class="w-64 h-screen border-slate-200 bg-white z-10 flex-shrink-0 flex flex-col">
    <img src="@Url.Content("/images/better-logo.png")" alt="Logo"/>

    <div class="grow ml-4 mb-4 flex flex-col gap-2 overflow-y-auto">
        <a
            href="/"
            class="hover:bg-gray-100 transition-colors py-4 px-6 rounded-lg text-lg font-medium flex items-center gap-3">
            <div class="w-6 h-6 grid place-items-center">
                <i class="fa-solid fa-home text-slate-700"></i>
            </div>
            <span>Dashboard</span>
        </a>

        @if (role == "Admin")
        {
            <a
                href="/users"
                class="hover:bg-gray-100 transition-colors py-4 px-6 rounded-lg text-lg font-medium flex items-center gap-3">
                <div class="w-6 h-6 grid place-items-center">
                    <i class="fa-solid fa-user text-slate-700"></i>
                </div>
                <span>Users</span>
            </a>
        }

        @if (role is "Admin" or "Manajer")
        {
            <a
                href="/ekspor"
                class="hover:bg-gray-100 transition-colors py-4 px-6 rounded-lg text-lg font-medium flex items-center gap-3">
                <div class="w-6 h-6 grid place-items-center">
                    <i class="fa-solid fa-truck text-slate-700"></i>
                </div>
                <span>Ekspor</span>
            </a>
        }


        @if (role is "Admin" or "Inventory" or "Manajer")
        {
            <a
                href="/sorting"
                class="hover:bg-gray-100 transition-colors py-4 px-6 rounded-lg text-lg font-medium flex items-center gap-3">
                <div class="w-6 h-6 grid place-items-center">
                    <i class="fa-solid fa-sort text-slate-700"></i>
                </div>
                <span>Sorting</span>
            </a>
        }

        @if (role is "Admin" or "Manajer" or "Agen")
        {
            <a
                asp-controller="Lot"
                asp-action="Index"
                class="hover:bg-gray-100 transition-colors py-4 px-6 rounded-lg text-lg font-medium flex items-center gap-3">
                <div class="w-6 h-6 grid place-items-center">
                    <i class="fa-solid fa-box text-slate-700"></i>
                </div>
                <span>Lot</span>
            </a>
        }

        <div class="mt-auto"></div>

        <a
            asp-controller="Auth"
            asp-action="LogOut"
            class="hover:bg-gray-100 transition-colors py-4 px-6 rounded-lg text-lg font-medium flex items-center gap-3">
            <div class="w-6 h-6 grid place-items-center">
                <i class="fa-solid fa-sign-out text-slate-700"></i>
            </div>
            <span>Keluar</span>
        </a>
    </div>
</aside>