﻿@model LoginViewModel;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Login - PT RBB</title>

    <partial name="../Partial/_HeadData"/>

</head>
<body>

<div class="grid place-items-center max-h-screen overflow-hidden relative">
    <img src="@Url.Content("/images/login-bg.jpg")" alt="BG" class="absolute object-cover brightness-75"/>

    <div class="relative w-full h-screen grid place-items-center backdrop-blur-sm">
        <div class="absolute top-16 left-16 flex gap-4 items-center">
            <div class=" w-16 rounded-full overflow-hidden">
                <img src="@Url.Content("/images/logo.jpg")" alt="Logo" class="scale-105"/>
            </div>
            <h2 class="text-2xl font-bold">PT RBB</h2>
        </div>


        <form class="max-w-lg w-full border p-8 rounded-lg bg-white shadow-xl " asp-controller="Auth" asp-action="Login" method="post">
            <h1 class="text-4xl font-bold text-center py-8">Masuk</h1>

            <div class="flex flex-col gap-4 mt-8">
                <div class="flex flex-col gap-2">
                    <label asp-for="Username" class="text-sm font-semibold">Username</label>
                    <input type="text"
                           class="border py-2 px-4 flex items-center rounded-md h-10"
                           asp-for="Username"/>
                </div>

                <div class="flex flex-col gap-2">
                    <label asp-for="Password" class="text-sm font-semibold">Password</label>
                    <input type="password"
                           class="border py-2 px-4 flex items-center rounded-md h-10"
                           asp-for="Password"/>
                </div>

                <div class="flex gap-2 items-center cursor-pointer">
                    <input type="checkbox"
                           asp-for="RememberMe"

                           class="w-4 h-4 peer accent-purple-500"/>
                    <label asp-for="RememberMe"
                           class="flex items-center gap-2 text-sm font-medium cursor-pointer">
                        Ingat Saya
                    </label>
                </div>

                <hr/>

                @if (ViewData["ValidateMessage"] != null)
                {
                    <div class="mt-2 text-red-500 text-sm text-center">
                        @ViewData["ValidateMessage"]
                    </div>
                }

                <input type="submit"
                       value="Masuk"
                       class="font-semibold text-sm h-10 grid place-items-center px-4 w-full rounded-md bg-purple-500 text-white cursor-pointer hover:bg-purple-600 transition-colors duration-75 mt-4"/>
            </div>
        </form>
    </div>
</div>
</body>
</html>